html, body {
    background: #eee url('../img/bodybg.jpg');
}
.navbar, .navbar-inner {
    background: url('../img/headerbg.jpg') !important;
}
.navbar input {
    background: #eee;
}
.content {
    background: #fff;
    margin: -20px;
    padding: 20px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
@media (min-width: 980px) {
    .content {
        margin: 0 0 20px 0;
        padding-top: 60px;
    }
}
.span4 thead {
    display: none;
}
.alignright {
    text-align: right !important;
}

.carousel-caption p {
    font-size: smaller;
    height: 60px;
    overflow: hidden;
}

.movie-poster {
    height: 300px;
    width: 200px;
}
.dashboard .albumart {
    height: 45px;
    width: 45px;
}
.dashboard .span4 table{
    table-layout: fixed;
}
.dashboard .span4 td{
    overflow: hidden;
    white-space: nowrap;
}
.dashboard .span4 #downloads_table_body td:last-child {
    width: 14px;
}

.carousel-caption {
    cursor: pointer;
}

#tvshow-carousel .item,
#movie-carousel .item {
  height: 200px;
  background-position: center 20%;
  background-size: cover;
  background-repeat: no-repeat; 
}
h1.page-header.page-title {
    background-color: #f5f5f5;
    padding: 15px 15px 15px;
    margin: -20px -20px 20px;
    font-size: 1.8em;
}
h1.page-header.page-title a {
    color: #000;
    text-decoration: none;
}
h1 .pull-right {
    margin: 0;
}
h1 .pull-right select {
    margin-top: 10px;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
#search-movie-list {
    margin: 0;
    padding: 0;
    max-height: 600px;
    overflow-y: auto;
}
#search-movie-list li {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    clear: both;
    overflow: auto;
}
#search-movie-list li:hover {
    background: #eee;
}
#search-movie-list img {
    height: 100px;
    width: 75px;
}
#search-movie-list h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
#search-movie-list .movie-info {
    margin: 0 0 0 95px;
}
#movie-grid img,
#movie-grid .thumbnail,
#wanted-grid img,
#wanted-grid .thumbnail {
    position: relative;
    height: 150px;
    width: 100px;
}
#search-movie-list .thumbnail {
    margin: 10px;
    float: left;
    height: 100px;
    width: 75px;
}
#movie-grid i{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 16px; 
    height: 16px;
}
h6.movie-title, h6.show-title, h6.album-title {
    color: #555555;
    text-align: center;
    margin: 0;
    padding-top: 4px;
}
#show-grid img {
    height: 150px;
    width: 100px;
}
#show-grid.banners img {
    height: 90px;
    width: 500px;
}
#show-seasons {
    margin: 0;
    padding: 0;
}
#show-seasons .season-header {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}
#show-seasons .thumbnail,
#show-season .thumbnail img {
    height: 85px;
    width: 150px;
}
.artist-albums .albumart {
    height: 150px;
    width: 150px;
}
.modal-movieinfo {
    margin-left: 230px;
}
.modal-youtube {
    border: 0;
    height: 375px;
    width: 670px;
}
#subtitles, #audio {
    text-align: left;
}
#playlist_table td i {
    float: right;
    display: none;
}
#playlist_table td:hover i {
    display: block;
}
.artist-list, .artist-list ul,
.album-list, .album-list ul {
    margin: 0;
    padding: 0;
}
.artist-list li,
.album-list li {
    list-style: none;
    margin: 0;
    padding: 5px 15px;
    width: 250px;
    float: left;
}
.artist-list li li,
.album-list li li {
    width: 235px;
}
.artist-list li>a,
.album-list li>a {
    display: block;
}
.artist-list li:hover,
.album-list li:hover {
    background: #eee;
    border-radius: 5px;
}
.artist-list li .control,
.album-list li .control {
    display: none;
    float: right;
}
.artist-list li:hover .control,
.album-list li:hover .control {
    display: block;
}
#nowplaying #player-progressbar {
    cursor: pointer;
}
legend {
    margin: 0;
}
.spinner {
    display: none;
    background: url('../img/loader.gif') 50% 50% no-repeat;
    height: 40px;
}
.spinner-inline {
    display: inline-block;
    width: 40px;
}
.popover {
    width: 575px;
}
.thumbnail {
    background: #fff;
}
h3 a {
    color: #000;
}
table th.tablesorter-header {
    cursor: pointer;
}
[class^="icon-"], [class*=" icon-"],
[class^="icon-"]:hover, [class*=" icon-"]:hover{
    text-decoration: none;
}
.icon-white {
    color:white;
}
.icon-black {
    color:black;
}
