h1.page-header.page-title {
    background-color: #f5f5f5;
    padding: 15px 15px 15px;
    margin: -20px -20px 20px;
    font-size: 1.8em;
}
h1.page-header.page-title a {
    color: #000;
    text-decoration: none;
}
h1 .pull-right {
    margin: 0;
}
h1 .pull-right select {
    margin-top: 10px;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
.spinner {
    display: none;
    background: url('../img/loader.gif') 50% 50% no-repeat;
    height: 40px;
}
.spinner-inline {
    display: inline-block;
    width: 40px;
}
.popover {
    width: 575px;
}
.thumbnail {
    background: #fff;
}
h3 a {
    color: #000;
}
table th.tablesorter-header {
    cursor: pointer;
}
[class^="icon-"], [class*=" icon-"],
[class^="icon-"]:hover, [class*=" icon-"]:hover{
    text-decoration: none;
}
.icon-white {
    color:white;
}
.icon-black {
    color:black;
}