#search-movie-list {
    margin: 0;
    padding: 0;
    max-height: 600px;
    overflow-y: auto;
}
#search-movie-list li {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    clear: both;
    overflow: auto;
}
#search-movie-list li:hover {
    background: #eee;
}
#search-movie-list img {
    height: 100px;
    width: 75px;
}
#search-movie-list h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
#search-movie-list .movie-info {
    margin: 0 0 0 95px;
}
#search-movie-list .thumbnail {
    margin: 10px;
    float: left;
    height: 100px;
    width: 75px;
}
#wanted-grid img,
#wanted-grid .thumbnail {
    position: relative;
    height: 150px;
    width: 100px;
}
h6.movie-title {
    color: #555555;
    text-align: center;
    margin: 0;
    padding-top: 4px;
}
