.btn-ombiblue {
	background-color:	hsl(194, 87%, 44%)!important;
}
.btn-ombiblue:hover {
	background-color:	hsl(194, 77%, 39%)!important;
}

.ombi-actions {
	display: inline-block;
	position: absolute;
	border-radius: 5px!important;
	background-color: hsla(24, 5%, 5%, 0.85);
	padding: 5px;
	display: none;
	margin-top: -2px;
	margin-left: 0px;
}

.ombi-tvrequest-overlay {
	/* display: inline; */
	position: fixed;
	border-radius: 5px!important;
	background-color: hsla(24, 5%, 5%, 0.85);
	padding: 5px;
	display: none;
	/* margin-top: -2px; */
	/* margin-left: 0px; */
}

.ombi-tvrequest-detail {
	/* display: inline; */
	position: absolute;
	border-radius: 5px!important;
	background-color: hsla(24, 5%, 5%, 0.85);
	/* color:	white; */
	padding: 6px;
	display: none;
	/* margin-top: -2px; */
	width: 78%;
	left: 5px;
	/* right: 50px; */
	overflow: auto;
}

.btn-ombi-suggestion {
	 margin-top: 2px;
	 margin-bottom: 2px;
}

.ombi-menu-disabled {
	color: gray!important;
}
h1.page-header.page-title a.ombi-menu-disabled {
	color: gray!important;
}

.btn-ombi {
	border-radius:	5px!important;
	padding-top:	5px;
	padding-bottom:	3px;
	padding-left:	6px;
	padding-right:	6px;
	margin-right:	3px;
	margin-top:		2px;
	margin-bottom:	2px;
}

.fa-slightlybigger {
	font-size:	125%;
}

.label-ombi-quality {
	font-weight:	bolder;
	border-radius:	3px!important;
}

/* .ombi-tip:hover {
	background-color: salmon!important;
	display: inline-block;
	position: relative;
	width: 50%;
	display: none;
}
 */