.btn-ombiblue {
	background-color:	hsl(194, 87%, 44%)!important;
}
.btn-ombiblue:hover {
	background-color:	hsl(194, 77%, 39%)!important;
}

.ombi_actions {
	display: inline-block;
	position: absolute;
	border-radius: 5px!important;
	background-color: hsla(24, 5%, 5%, 0.85);
	padding: 5px;
	display: none;
	margin-top: -2px;
	margin-left: 0px;
}

.btn-ombi {
	border-radius:	5px!important;
	padding-top:	5px;
	padding-bottom:	3px;
	padding-left:	6px;
	padding-right:	6px;
	margin-right:	3px;
	margin-top:		2px;
	margin-bottom:	2px;
}

.fa-slightlybigger {
	font-size:	125%;
}

.label-ombi-quality {
	font-weight:	bolder;
	border-radius:	3px!important;
}

/* .ombi-tip:hover {
	background-color: salmon!important;
	display: inline-block;
	position: relative;
	width: 50%;
	display: none;
}
 */