.p-sm {
    padding: 5px;
}

.p-l-md {
    padding-left: 10px;
}

.p-lr-sm {
    padding-left: 5px;
    padding-right: 5px;
}

.small-font {
    font-size: 15px;
}

.progress {
    margin-bottom: 0 !important;
    margin-top: -40px;
}

.top-title {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
    margin-top: 10px;
}
#history_table {
    color: #000000;
}
#history_table th{
    background-color: #f2f2f2;
}

/* .poster-image {
  min-height: 200px;
} */

.plexpy-poster {
    position: relative;
    opacity: 1;
    display: block; 
    width: 100%; 
/*    backface-visibility: hidden; */
}

.plexpy-poster:hover .poster-image {
    min-height: 200px;
    min-width: 345px;
    opacity: 0.2;
}

.plexpy-poster:hover .meta-overlay-full {
    min-width: 400px;
    visibility: visible;
}

.meta-overlay-full {
    position: relative;
    top: -200px;
    height: 40px; 
    padding-left: 5px;
    padding-right: 5px;
    color: #f2f2f2;
    font-size: small;
    visibility: hidden;
}

.meta-overlay {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    top: -40px;
    background-color: rgba(10, 10, 10, 0.6);
    color: #f2f2f2;
    font-size: small;
    font-weight: bold;
    visibility: hidden;
}

ul.meta {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    overflow:hidden;
}
li.meta-right {
    white-space: nowrap;
}

li.meta-left {
    width: 20%;
    padding-right: 8px;
    float: left;
    min-width:85px;
}

li.meta-span {
    width:100%;
    max-width: 325px;
    font-size:smaller;
}

.stat-holder{
    height: 145px;
}

.stat-poster {
    width: 80px;
    height: 120px;
    border: 2px solid #f6f6f6;
}

.stat-highlights {
    margin-left: 100px;
    color: #ffffff;
}

.stat-highlights h2, h3 {
    color: #ffffff;
}

.stat-highlights h3 {
    display: inline;
}

.fa-white {
    color: #ffffff;
}
.dt-history-table{
    font-size: small;
}
td.no-wrap, th.no-wrap {
    white-space: nowrap;
}
.stat-cover {
    width: 80px;
    height: 80px;
    border: 2px solid #f6f6f6;
    margin-top: 20px;
}
#watchstats{
    padding-top: 10px;
    border-top: 2px solid #c4c4c4;
}
#activity{
    margin-top: -20px;
}
