/**
 * Progress bars with centered text
 */
.progress {
    position: relative;
    margin-bottom: 0px;
}

.bar {
    z-index: 1;
    position: absolute;
}

.progress span {
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: black;
}

span.icon-sonarr {
	cursor: default;
}

span.disabled {
	cursor: not-allowed!important;
    opacity: 0.7;
	color: grey;
}
