.dropdown-menu li {
    font-size: smaller;
}
a.thumbnail:Hover,
#artist-grid a:Hover {
    text-decoration: none;
}
#movie-grid img,
#movie-grid .thumbnail,
#show-grid img,
#show-grid .thumbnail {
    position: relative;
    height: 150px;
    width: 100px;
}
#episode-grid .thumbnail,
#episode-grid .thumbnail img {
    position: relative;
    height: 85px;
    width: 150px;
}
#show-grid.banners img {
    height: 90px;
    width: 500px;
}
#album-grid .thumbnail,
#album-grid .thumbnail img {
    position: relative;
    height: 150px;
    width: 150px;
}
#pvr-grid .thumbnail,
#pvr-grid .thumbnail img {
    position: relative;
    height: 75px;
    width: 75px;
}
#movie-grid i,
#show-grid i,
#episode-grid i {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
}
h6.movie-title,
h6.show-title,
h6.album-title,
h6.episode-title {
    color: #555555;
    text-align: center;
    margin: 0;
    padding-top: 4px;
}
.artist-albums .albumart {
    height: 150px;
    width: 150px;
}
#artist-grid tr td:first-child {
    width: 15px;
}
#artist-grid tr td a {
    display: block;
}
#playlist_table td i {
    float: right;
    display: none;
}
#playlist_table td:hover i {
    display: block;
}
#nowplaying #player-progressbar,
#playlist tr td {
    cursor: pointer;
}
.modal {
    width: 700px;
}
.modal .movie-poster {
    height: 300px;
    width: 200px;
}
.modal .modal-movieinfo {
    margin-left: 230px;
}
.modal .modal-youtube {
    border: 0;
    height: 375px;
    width: 670px;
}
