html, body {
    background: url('/img/background.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
    color: #eee !important;
}
a, .page-title a, legend {
    color: #eee !important;
}
#navbar .navbar-inner {
    background: url('/img/000_80.png') !important;
    max-width: 1190px;
    margin: auto;
}
.nav a, .nav a:hover{
    background: transparent !important;
    border: 0 !important;
}
.nav a:hover,
.nav > .active > a,
.nav > .active > a:hover {
    background: transparent !important;
    text-decoration: underline !important;
}
.navbar-form input {
    background: url('/img/fff_20.png') !important;
    border: 0;
}
.dropdown-menu {
    background: url('/img/000_80.png') !important;
}
.btn {
    background: url('/img/fff_20.png') !important;
    color: #eee !important;
    text-shadow: none !important;
}
.content {
    background: url('/img/000_80.png') !important;
}
.page-header, .page-title {
    background: url('/img/fff_20.png') !important;
    border: 0 !important;
    margin: 0 0 20px 0 !important;
    padding: 20px !important;
    border-radius: 5px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background: url('/img/fff_20.png') !important;
}
.table tbody tr:hover td,
.table tbody tr:hover th,
.artist-list li:hover,
.album-list li:hover,
.progress {
    background: url('/img/000_80.png') !important;
}
.form-actions, .thumbnail,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    background: url('/img/fff_20.png') !important;
    border: 0 !important;
    text-decoration: none !important;
}
.nav-tabs {
    border: 0 !important;
}
.well, .sidebar-nav {
    background: url('/img/fff_20.png') !important;
    border: 0;
}
.well .btn, .well input, .well select {
    background: url('/img/000_80.png') !important;
    color: #eee !important;
}
h1 select, h1 select option {
    background: url('/img/000_80.png') !important;
    color: #eee !important;
    border: 0 !important;
}
.well .btn [class^="icon-"], .well .btn [class*=" icon-"] {
    background-image: url("/img/glyphicons-halflings-white.png") !important;
}
h6.movie-title, h6.show-title {
    color: #eee;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("/img/glyphicons-halflings-white.png") !important;
}
