.navbar {
	background-color: #3a3f44;
}


h1.page-header.page-title {
	background: #272b30;
}

h1,
h2,
h3,
h4,
h5,
h6,
a{
	color: #7a8288 !important;
}

a:hover {
	color: #FFF !important;
	text-decoration: none;
}

//h3.a {
	//color: #7a8288 !important;
//}

.well{
	background-image: none !important;
	background: #272b30 !important;
}

.modal-fanart,
.modal-body {
	background-image: none !important;
	background: #272b30 !important;
}

.navbar .btn-group {
	margin: 0px;
	margin-top: 5px;
}

.navbar-form input {
	margin-top: 0px !important;
}

.ui-pnotify-title{
	color: white !important;
}

.content {
	background: #272b30;
    margin: -20px;
    padding: 20px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
@media (min-width: 980px) {
    .content {
        margin: 0 0 20px 0;
        padding-top: 60px;
    }
}
