<%def name="buildForm(action='', method='POST', id='', description='', classes='form-horizontal', legend='', fields=[], fbuttons=[], buttons=[
    {'name':'Save', 'type':'submit', 'classes':'btn-primary'},
    {'name':'Clear', 'type':'reset'}
])"><%
import htpc
settings =  htpc.settings
%><form${' action="'+action+'"' if action else ''} method="${method}" id="${id}"${' class="'+classes+'"' if classes else ''}>
    <fieldset>
        % if legend:
        <legend>${legend}</legend>
        % endif
        % if description:
          ${description}
        % endif
        % for field in fields:
        <div class="control-group">
            <label for="${field.get('name')}" class="control-label">${field.get('label')}</label>
            <div class="controls">
                % if field.get('type') in ['text', 'password']:
                <% value = field.get('value') if field.get('value') else settings.get(field.get('name')) %>
                ##<% placeholder = field.get('placeholder') if field.get('placeholder') else '' %>
                <input type="${field.get('type')}" name="${field.get('name')|h, entity}" id="${field.get('name')|h, entity}" autocapitalize="off" value="${value|h, entity}"/>
                % elif field.get('type') == 'bool':
                <% checked = field.get('checked') if field.get('checked') else settings.get(field.get('name')) %>
                <input type="checkbox" name="${field.get('name')}" id="${field.get('name')}"${
                ' checked="checked"' if checked else ''}${
                ' class="enable-module"' if field.get('name').endswith('enable') else ''}/>
                % elif field.get('type') == 'select':
                <select name="${field.get('name')|h, entity}" id="${field.get('name')|h, entity}">
                    % for option in field.get('options'):
                    <option value="${option.get('value')|h, entity}"${
                    ' selected="selected"' if option.get('selected', 0) else ''}>${option.get('name')|h, entity}</option>
                    % endfor
                </select>
                % endif
                % if field.get('desc'):
                    <i class="fa fa-question-circle settingstooltip" title data-original-title="${field.get('desc')}"></i>
                % endif
                % if field.get('fbutton'):
                    <a href="${field.get('fbutton')[0]}" class="btn ajax-confirm" title="${field.get('fbutton')[1]}">${field.get('fbutton')[2]}</a>
                % endif
            </div>
        </div>
        % endfor
        <div class="form-actions">
        % for btn in buttons:
            % if btn.get('test'):
            <button type="${btn.get('type')}" class="btn ${btn.get('classes', '')}" data-target="${btn.get('test')}" data-loading-text="Testing...">${btn.get('name')}</button>
            % else:
            <button type="${btn.get('type')}" class="btn ${btn.get('classes', '')}">${btn.get('name')}</button>
            % endif
        % endfor
        </div>
    </fieldset>
</form>
</%def>
