<%inherit file="base.html"/>
<% import platform %>
<% settings = self.attr.settings %>
<div class="container-fluid">
  <div class="content">

    <h1 class="page-header page-title">
      <span>${settings.get('vnstat_name', 'BW')}</span>
      <small>
        <i class="icon-arrow-down"></i><span id="vnstat-rx"></span>
        <i class="icon-arrow-up"></i><span id="vnstat-tx"></span>
      </small>
    </h1>

    % if not importParamiko and platform.system() == 'win32':
    <div class="row-fluid">
      <div class="alert alert-error">
        <h4>Paramiko is was not found on your system</h4>
        <p>You need to install paramiko</p>
        <p>windows http://www.voidspace.org.uk/python/modules.shtml#pycrypto</p>
      </div>
    </div>

    % else:
    <div class="retard"></div>

    % endif
    <span id="error_message"><i class="icon-spinner icon-spin spinner"></i></span>
  </div>
</div>

<script type="text/javascript">
  % if importParamiko:
    importParamiko = true;
  % else :
    importParamiko = false;
  % endif
</script>