<footer>
  <div class="container">
    <div class="row">
      <div class="span2">
        <h3>Links</h3>
        <ul>
          <li><a href="http://styxit.com" title=""><i class="icon-external-link"></i> Styxit weblog</a></li>
          <li><a href="http://www.exonet.nl" title="Exonet hosting"><i class="icon-external-link"></i> Exonet</a></li>
        </ul>
      </div>
      <div class="span2">
        <h3>Recources</h3>
        <ul>
          <li><a href="http://fontawesome.io/" title="FontAwesome"><i class="icon-flag"></i> FontAwesome</a></li>
          <li><a href="http://twitter.github.io/bootstrap" title="Twitter Bootstrap"><i class="icon-twitter"></i> Twitter Bootstrap</a></li>
        </ul>
      </div>
    </div><!--/row-->
  </div> <!-- /container -->
</footer>
