<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html">Htpc Manager</a>
      <div id="primary-nav" class="nav-collapse">
        <ul class="nav">
          <li><a class="anchorLink" href="/#home">Home</a></li>
          <li><a class="anchorLink" class="anchorLink" href="/#features">Features</a></li>
          <li><a class="anchorLink" href="/#software">Software</a></li>
          <li><a class="anchorLink" href="/#screenshots">Screenshots</a></li>
          <li><a class="anchorLink" href="/#support">Support</a></li>
          <li><a class="anchorLink" href="/#development">Development</a></li>
          <li><a href="installation.html">Installation</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/container-->
  </div><!--/navbar-inner-->
</div><!--/navbar-->